@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/functions';

.register {
  @include flex;
  background: linear-gradient(to bottom, $color-alternative, $color-secondary);
  justify-content: center;
  flex-direction: column;
  padding: 10px 30px;
  min-height: calc(100vh - 200px);

  &__container {
    background-color: #ffffff1a;
    border: 2px solid $white;
    border-radius: 40px;
    color: $white;
    padding: 0px 68px;
    min-height: 600px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 10px 10px $shadow;

    h2 {
      text-align: center;
    }

    &--login {
      font-size: $alternativefontsize;
      text-align: center;

      & a {
        font-size: $basefontsize;
        color: $white;
        font-weight: bold;
        text-decoration: none;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }
}

.Error {

  &_name,
  &_email,
  &_password,
  &_password-conf {
    background-color: $white;
    text-align: left;
    margin: 5px;
    padding: 5px 15px 5px 0;
    position: absolute;
    color: black;
    border: 1px solid $white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);

    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background: $white;
      left: -15px;
      transform: rotate(45deg);
    }

    & ul li {
      font-size: 1em;
    }
  }

  &_name {
    top: -14px;
    right: -255px;

    &:before {
      top: 15px;
    }
  }

  &_email {
    top: 60px;
    right: -240px;

    &:before {
      top: 15px;
    }
  }

  &_password {
    top: 130px;
    right: -310px;

    &:before {
      top: 20px;
    }
  }

  &_password-conf {
    top: 200px;
    right: -310px;

    &:before {
      top: 20px;
    }
  }
}