/*------------------------------------*\
  $MEDIA QUERIES
\*------------------------------------*/

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
  .register__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
