/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/

/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
*  Fonts definitions
*/
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$basefont: 'Muli', sans-serif;
$basefontsize: 16;
$alternativefontsize: 14;

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
*  Brand colors
*/
$color-principal: #21c08b;
$color-secondary: #8f57fd;
$white: #ffffff;

$google: #db4437;
$twitter: #00acee;
$border: #ffffff4d;
$shadow: #0000004d;
