/*------------------------------------*\
  $LOG IN
\*------------------------------------*/
.login {
  @include flex;
  background: linear-gradient(to bottom, $color-principal, $color-secondary);
  justify-content: center;
  flex-direction: column;
  padding: 10px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: #ffffff1a;
  border: 2px solid $white;
  border-radius: 40px;
  color: $white;
  padding: 0px 68px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0px 10px 10px $shadow;
}
.login__container--form {
  display: flex;
  flex-direction: column;
  & label {
    font-size: $alternativefontsize px;
  }
}
.input--login {
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid $white;
  border-left: 0px;
  font-family: $basefont;
  font-size: $basefontsize px;
  outline: none;
  color: $white;
  margin-bottom: 20px;
  padding: 0px 20px;
  height: 50px;
}
::placeholder {
  color: $white;
}
.button {
  font-family: $basefont;
  font-size: $basefontsize px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $white;
  margin: 10px;
  border: none;
  border-radius: 25px;
  background-color: $border;
  cursor: pointer;
  height: 50px;
}
.login__container--remember-me {
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  & a {
    text-decoration: none;
    color: $white;
    font-size: 14px;
  }
  & a:hover {
    text-decoration: underline;
  }
}
.login__container--social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    font-size: 14px;
    margin-bottom: 10px;
  }
  & > div > img {
    width: 30px;
    padding: 0px 5px;
    margin: 5px 0px;
    align-self: center;
    justify-self: center;
  }
  & > div > p {
    margin: 10px 0px;
  }
  & a {
    color: $white;
    text-decoration: none;
  }
}
.google {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: $google;
  border-radius: 25px;
  width: 220px;
}
.google__img,
.twitter__img {
  border-right: 1px dashed $border;
}
.twitter {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: $twitter;
  border-radius: 25px;
  width: 220px;
}
.login__container--register {
  font-size: 14px;
  text-align: center;
  & a {
    font-size: 16px;
    color: $white;
    font-weight: bold;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }
}
