/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/

/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
*  Fonts definitions
*/
$basefont : 'Muli', sans-serif;
$basefontsize : 16;
$alternativefontsize: 14;

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
*  Brand colors
*/
$color-principal: rgb(33, 192, 139);
$color-secondary: rgb(143, 87, 253);
$white:           rgb(255, 255, 255);