@import '../utils/mixins';
@import '../utils/variables';

/*------------------------------------*\
  $CAROUSEL
\*------------------------------------*/

.carousel {
  margin: 0;
  max-width: 100%;
  padding: 8px;
  position: relative;
  overflow: hidden;

  &__container {
    width: 100%;
    white-space: nowrap;
    margin: 16px 0px;
    padding: 32px 16px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}