body {
  margin: 0px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  background-color: #8F57FD;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #8F57FD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 200px;
  margin: 10px;
  /* margin-top: 10px;
  margin-left: 10px; */
}
.header__menu {
  margin-right: 30px;
}
.header__menu ul {
  display: none;
  position: absolute;
  width: 100px;
  padding: 0px;
  margin: 0px 0px 0px -14px;
  list-style: none;
  text-align: right;
}
.header__menu:hover ul, ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0px;
}
.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}
.header__menu--profile p {
  margin: 0px;
  color: white;
}
.main {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__title {
  color: white;
  font-size: 25px;  
  margin-bottom: 50px;
}
.input {
  height: 50px;
  width: 70%;
  padding: 0px 20px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
::placeholder {
  color: white;
}
.carousel {
  width: 100%;
  padding: 30px;
  position: relative;
  overflow: scroll;
}
.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel-item {
  background-color: whitesmoke;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
  position: relative;
}
.carousel-item:hover ~ .carousel-item{
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  z-index: 1;
}
.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.carousel-item__details:hover {
  opacity: 0.75;
}
.carousel-item__detail--icon img{
  height: 25px;
  width: 25px;
  padding-bottom: 5px;
}
.carousel-item__details--title,.carousel-item__details--subtitle {
  /* z-index: 10; */
  color: white;
  padding: 0;
  margin: 0;
}