body {
  margin: 0px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  /* background-color: #8F57FD; */
}
.header {
  width: 100%;
  height: 80px;
  background-color: #21C08B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 200px;
  margin: 10px;
}
.login {
  background: linear-gradient(to bottom, #21c08b, #ab88ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.input {
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  border-left: 0px;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  outline: none;
  color: white;
  margin-bottom: 20px;
  padding: 0px 20px;
  height: 50px;
}
::placeholder {
  color: white;
}
.button {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  margin: 10px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  height: 50px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #ab88ff;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}