/*------------------------------------*\
  $FOOTER
\*------------------------------------*/
.footer {
  @include flex;
  height: 100px;
  width: 100%;
  background-color: $color-secondary;
}
.footer a {
  color: $white;
  cursor: pointer;
  font-size: $alternativefontsize px;
  padding-left: 30px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
