/*------------------------------------*\
  $MEDIA QUERIES
\*------------------------------------*/

@media only screen and (max-width: 768px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .register__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .Error_password {
    width: 85%;
    top: 215px;
    right: 10%;

    &:before {
      top: -10px;
      left: 20px;
    }

    & ul li {
      font-size: 0.8em;
    }
  }

  .Error_password-conf {
    width: 85%;
    top: 285px;
    right: 10%;

    &:before {
      top: -10px;
      left: 20px;
    }

    & ul li {
      font-size: 0.8em;
    }
  }

  .Error_name {
    width: 85%;
    top: 70px;
    right: 10%;

    &:before {
      top: -10px;
      left: 20px;
    }

    & ul li {
      font-size: 0.8em;
    }
  }

  .Error_email {
    width: 85%;
    top: 140px;
    right: 10%;

    &:before {
      top: -10px;
      left: 20px;
    }

    & ul li {
      font-size: 0.8em;
    }
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {

  .Error_name,
  .Error_email,
  .Error_password,
  .Error_password-conf {
    width: 50%;
    right: 47%;
  }

  // ul li {
  //   font-size: 0.9em;
  // }
}

// @media only screen and (max-width: 375px) {
//   .Error_container {
//     top: 215px;
//     right: 20px;
//   }
// }