/*------------------------------------*\
  $PARTIALS
\*------------------------------------*/
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
*  Fonts definitions
*/
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
*  Brand colors
*/
/**
*  Scss Libraries, mixins, functions and any Scss focused logic
**/
/**
*  HTML elements
**/
/**
*  Layout and general styles
**/
/*------------------------------------*\
  $SITE
\*------------------------------------*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Muli", sans-serif;
  font-size: 16 px;
  background-color: #8f57fd; }

/*------------------------------------*\
  $HEADER
\*------------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__img {
    width: 200px;
    margin: 10px; }

/*------------------------------------*\
  $FOOTER
\*------------------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #8f57fd; }

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14 px;
  padding-left: 30px;
  text-decoration: none; }
  .footer a:hover {
    text-decoration: underline; }

/**
*  Componets used for layouts, headers, articles, etc...
**/
/*------------------------------------*\
  $PAGES
\*------------------------------------*/
.header {
  background-color: #21C08B; }

.header__img {
  width: 200px;
  margin: 10px; }

.not-found {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08b), to(#8F57FD));
  background: -webkit-linear-gradient(top, #21c08b, #8F57FD);
  background: -o-linear-gradient(top, #21c08b, #8F57FD);
  background: linear-gradient(to bottom, #21c08b, #8F57FD);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 180px); }
  .not-found > p {
    color: white; }

.not-found__number {
  margin: 0;
  font-size: 100px;
  font-weight: bold;
  -webkit-animation-name: hinge;
  animation-name: hinge;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.not-found__text {
  font-size: 20px; }

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  100% {
    -webkit-transform: translateY(345px);
    transform: translateY(345px); } }

@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  100% {
    -webkit-transform: translateY(345px);
    transform: translateY(345px); } }

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .footer {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
