@import 'utils/variables';
@import 'utils/mixins';
@import 'base/globals';
@import 'layout/header';
@import 'layout/footer';
@import './views/home';
@import './views/login';
@import './components/player';
@import './components/pageLoading';
@import './components/loader';
@import './views/signup';
@import './views/404';
@import 'utils/mediaQueries';
