@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$basefont: 'Muli', sans-serif;
$basefontsize: 16;
$alternativefontsize: 14;
$color-principal: #00b894;
$color-secondary: #2d3436;
$color-alternative: #6c5ce7;
$white: #ffffff;
$google: #db4437;
$twitter: #00acee;
$border: #ffffff4d;
$shadow: #0000004d;
